body { }


.screen{
height: 120px;
width: 105%;
background-color:  black;
border-radius: 20px;
color:  white;
display: flex;
justify-content: center ;
align-items: center;
margin-left: -9px; 
margin-top: -8px;   
font-size: 40px;   
    
}

.buttons{
 
 display: flex ;
 flex-wrap: wrap;  
  margin-left: -12px;  
}

button{
 height: 60px;
 width: 80px; 
 background-color: black; 
 margin-left: 5px;
 margin-top: 8px;
 border-radius: 70px; 
 color:  white;
 font-size: 40px;  
}

















































































